*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-image:url(images.jpeg);
    background-size: cover;
    display: flex;
    padding:10% 10% 10% 10% ;
    align-items: center;
}

.register_form{
    height: 550px;
    width: 420px;
    background-color: white;
    padding:5% 5% 5% 3%;
    border-radius: 10px;
    box-shadow: 2px 2px 4px grey;
}

.register_form h4{
    margin-left:10px;
}
.inputs{
    display:flex;
    flex-direction: column;
}
.inputs input{
    margin:10px;
    border-style: none none solid none;
    border-color: gray;
    border-width: 1px;
    padding :2px;
    outline: none;
   
}

.inputs select{
    margin:10px;
    border-style : none none solid none;
    border-color : gray;
    padding : 2px;
    color :dimgrey;
    outline:none;
    
}

.inputs p{
    font-weight: 900;
    margin:10px 10px 10px 10px;
}

.checkbox{
    display : flex;
    margin-top:10px;

}
.checkbox input{
    margin:10px;
}

.checkbox span{
    margin :10px;
    color:dimgray
}

.checkbox span a{
    color : black;
   
   
}



button{
    background-color: rgb(63, 63, 170);
    padding:10px;
    border-style: none;
    border-radius: 5px;
    margin:10px;
    color:white;
}

button:hover{
    background-color: rgb(120, 120, 233);
    box-shadow: 3px 3px 3px rgb(171, 171, 245);
}